*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(206,221,102);
    background: linear-gradient(0deg, rgba(206,221,102,1) 52%, rgba(204,200,69,0.8883928571428571) 89%);
}

.container{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 5%;
    background: rgb(52,74,215);
    background: linear-gradient(90deg, rgba(52,74,215,1) 34%, rgba(107,134,214,1) 69%);
}

.slider{
    width: 256px;
    height: 256px;
    border: 2px solid black;
    margin: 50px auto;
    overflow: hidden;
}

.slider-line{
    width: 1024px;
    height: 256px;
    background: aqua;
    display: flex;
    position: relative;
    left: 0;
    position: left;
    transition: all 0.5s ease-in-out;
}

.btn-back{
    position: absolute;
    margin-top: -180px;
    width: 40px;
    height: 50px;
    font-weight: 900;
    font-size: 300%;
    background: rgb(52,74,215);
    background: linear-gradient(90deg, rgba(52,74,215,1)  34%,  69%);
    border: none;
    color: gold;
}

.btn-next{
    position: absolute;
    margin-top: -180px;
    width: 40px;
    height: 50px;
    font-weight: 900;
    font-size: 300%;
    background:rgba(107,134,214,1);
    background: linear-gradient(90deg, rgba(107,134,214,1) 34%,  69%);
    border: none;
    color: gold;
    margin-left: 958px;
}

